.TR-Blog{
    background-color: rgba(211, 193, 114, 0.973);
    color: black;
    font-family: "RammetoOne";
    text-align: center;
}
.theme-oscuro .TR-Blog{
    background-color: rgba(65, 60, 38, 0.973);
    color: rgb(255, 255, 255);
    font-family: "RammetoOne";
    text-align: center;
    
}
.B-Colo{
    text-decoration: none;
    color:rgb(46, 46, 46);
}
.theme-oscuro .B-Colo{
    text-decoration: none;
    color:rgb(46, 46, 46);
}
.theme-oscuro .B-Colo{
    text-decoration: none;
    color:white;
}

.TABLE-Blog{

    width: 100%;
    background-size: cover;
    border-collapse: separate;
    border-spacing: 25px;
}
@font-face{
    font-family:"RammetoOne";
    src:url("../../Fuente/RAMMETTO ONE/RammettoOne-Regular.ttf")format("truetype");
}