body {
  font-family: Arial, sans-serif;
  background-color: #f2c9c1;
}

form {
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"],
input[type="time"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.theme-oscuro form{
  background-color: #24211c;
}


input[type="submit"] {
  background-color: #ebc982;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}


.theme-oscuro input[type="submit"] {
  background-color: #3f3724;
  color: #fff;

}

input[type="submit"]:hover {
  background-color: #24211c;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.TituloCont {
  background-color: #ebc982;
  color: rgb(44, 44, 44);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  padding: 5px;
  margin-bottom: 20px;
  transition: background-color 0.5s ease;
}

.theme-oscuro .TituloCont{
  background-color: #24211c;
  color: white;
}

.theme-claro .TituloCont{
  background-color: #ebc982;
  color: rgb(44, 44, 44)
}

.PolloIcono {
  position: absolute;
  top: 5em;
  /* ajusta el valor del margen superior según tus necesidades */
  left: 5em;

  height: 7em;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.MAPA{
   display: flex;
  justify-content: center; /* Puedes usar "flex-start", "center" o "flex-end" */
  align-items: center; /* Puedes usar "flex-start", "center" o "flex-end" */
}

@media screen and (max-width: 600px) {
 .PolloIcono {
    display: none;
    }


}


.Regresa{
  display: none;
}
#ContenidoReg p{
  font-size: 70%;
  text-align: justify;
  margin: 30px;

}

.certificado-Quienes{
  width: 30%;
  
}

@media (max-width: 600px) {
  .Regresa{
    display: block;
    border: none;
    color: rgb(255, 255, 255); 
    text-align: center; 
    text-decoration: none; 
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    width: 250px;
    background-color: #dbab43;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .theme-claro .Regresa{
    background-color: #dbab43;
    color: rgb(44, 44, 44);
  }
    .theme-oscuro .Regresa{
    background-color: #141311;
    color: rgb(255,255,255);
  }
  .Regresa a:hover{
    text-decoration: none;
  }
  .certificado-Quienes{
    width: 90%;
  }

}


