

.Parte02TH, .Parte02TD{
    text-align:center;
    padding: 10px;

}
.Parte02Tabla{

    width: 100%;
    background-image: url('../../Imagenes/IMAGENES DE PARTES/image (4).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-collapse: separate;
    border-spacing: 25px;
}
.Parte02TR:hover {background-color:#f5f5f500;}
.Parte02TH {
    background-color: #f1f1f100;
    color: rgba(255, 200, 0, 0.992);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.Parte02TD{
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
 
    text-align: center;

}
.Parte02IMG {
    max-height: 230px;
    max-width: 230px;
    margin-right: 10px;
    border-radius: 3%;
    
}
.Parte02LI{
 color: rgb(0, 0, 0);
 font-family: "Georgia";

}
.Parte02TR:first-child {
    text-align: center;
}


.Parte02TR-OFERTA{
    background-color: rgba(250, 212, 44, 0.719);
    color: black;
    font-family: "RammetoOne";
    text-align: center;
}
.Parte02TR-PLATOS{
    background-color: rgba(240, 248, 255, 0.411);
}

@font-face{
    font-family:"RammetoOne";
    src:url("Fuente/RAMMETTO ONE/RammettoOne-Regular.ttf")format("truetype");
}
@font-face{
    font-family:"Georgia";
    src:url("Fuente/GEORGIA/georgia-pro-italic.ttf")format("truetype");
}

.Parte02TD-OFERTA{
    border-radius: 4%;
}