

.Parte02TH, .Parte02TD{
    text-align:center;
    padding: 10px;

}
.Parte02Tabla{

    width: 100%;
    /*background-image: url('../../Imagenes/IMAGENES DE PARTES/image (4).png');*/
    background-color: rgba(109, 91, 9, 0.555);
    background-repeat: no-repeat;
    background-size: cover;
    border-collapse: separate;
    border-spacing: 25px;
}


.theme-claro .Parte02Tabla{
    background-color: rgba(109, 91, 9, 0.555);
}

.theme-oscuro .Parte02Tabla{
    background-color: rgb( 30, 30, 30);
}


.Parte02TR:hover {background-color:#f5f5f500;}
.Parte02TH {
    background-color: #f1f1f100;
    color: rgba(255, 200, 0, 0.992);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.Parte02TD{
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
 
    text-align: center;

}


.Parte02IMG {
    max-height: 230px;
    max-width: 230px;
    margin-right: 10px;
    border-radius: 3%;
    
}
.Parte02LI{
 color: rgb(0, 0, 0);
 font-family: "Georgia";

}
.theme-claro .Parte02LI{
    color: rgb(0,0,0)
}
.theme-oscuro .Parte02LI{
    color: rgb(187, 187, 187)
}


.Parte02TR:first-child {
    text-align: center;
}


.Parte02TR-OFERTA{
    background-color: rgba(250, 212, 44, 0.719);
    color: black;
    font-family: "RammetoOne";
    text-align: center;
}
.theme-claro .Parte02TR-OFERTA{
    background-color: rgba(250, 212, 44, 0.719);
    color: black;
}
.theme-oscuro .Parte02TR-OFERTA{
    background-color: rgba(68, 58, 13, 0.719);
    color: rgba(255, 255, 255, 0.767);
}


.Parte02TR-PLATOS{
    background-color: rgba(240, 248, 255, 0.411);
}

.theme-claro .Parte02TR-PLATOS {
    background-color: rgba(240, 248, 255, 0.411);
}
.theme-oscuro .Parte02TR-PLATOS {
    background-color: rgba(45, 47, 49, 0.411);
}


@font-face{
    font-family:"RammetoOne";
    src:url("Fuente/RAMMETTO ONE/RammettoOne-Regular.ttf")format("truetype");
}
@font-face{
    font-family:"Georgia";
    src:url("Fuente/GEORGIA/georgia-pro-italic.ttf")format("truetype");
}

.Parte02TD-OFERTA{
    border-radius: 4%;
}


.Parte02Tabla {
  max-width: 100%;
  width: 100%;
}

.Parte02IMG {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .Parte02TD,
  .Parte02TD-OFERTA {
    font-size: 14px;
    padding: 5px;
  }

  .Parte02UL {
    margin: 5px 0;
  }

  .Parte02LI {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 480px) { /* Tamaño similar al de un iPhone */
  .Parte02IMG:first-child,
  .Parte02TD-OFERTA:first-child,
  .Parte02TD:first-child .Parte02UL {
    width: 100%;
    display: block;
  }
}
