@font-face {
    font-family: "Karma";
    src: url("Fonts-Isac/Karma/KarmaFuture.ttf")format("truetype");
}

@font-face {
    font-family: "Homespun";
    src: url("Fonts-Isac/Homespun/homespun.ttf")format("truetype");
}
