body {
    background-color: #161616;
}

table {
    border-style: dashed;
    width: 100%;
    background-size: cover;
    border-collapse: separate;
    border-spacing: 10px;

    border-radius: 5%;
}

td {

    box-shadow: 5px 6px 0px rgba(0, 0, 0, 0.692);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 33.33%;
    border-radius: 10%;
}

.TD-Isac {
    color: rgb(0, 0, 0);
    font-family: "Homespun";

    text-align: center;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 0.692);

}

tr {
    color: black;
    font-family: "RammetoOne";
    text-align: center;
    background-color: rgba(240, 248, 255, 0.411);

}


.TR-Titulo {
    background-color: aliceblue;
    text-align: center;
    font-family: "Karma";
    box-shadow: beige 1px 1px 10px;

}
.TR-Titulo a{
    text-decoration: green;
}

.CERT-Isac {
    max-height: 230px;
    max-width: 230px;
    margin-right: 5px;
    border-radius: 20px;
}

button {
    background-color: #6d100a;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    left: 50%;
    top: 97%;
    box-shadow: 5px 6px 0px rgb(0, 0, 0);
    font-family: "Abril-Fatface";
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}


@font-face {
    font-family: "Karma";
    src: url("Fonts-Isac/Karma/KarmaFuture.ttf")format("truetype");
}

@font-face {
    font-family: "Homespun";
    src: url("Fonts-Isac/Homespun/homespun.ttf")format("truetype");
}

.H1-Darkness {
    font-family: "Karma";
}


.TD-Isac {
    color: rgb(247, 95, 95);
    text-shadow: rgb(109, 43, 43) 1px 1px 20px;

    border: #b83f3f;
    border-style: solid;
        border-radius: 60px;

    box-shadow: rgb(97, 34, 34) 1px 1px 20px;
}

a{
color: green;
}

@media screen and (min-width: 768px) {


    .IMAGEN-PERFIL {
        float: left;
        margin-right: 10px;
    }

    .TD-Isac {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .in-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .in-flex:first-child {
        flex: 1;
        padding: 25px;
        background-color: #1d0000;
        margin: 20px;
        margin-bottom: 0px;
        box-shadow: 0 0 10px black;
        border-radius: 10%;
        box-shadow: 0 0 25px #ffc857;
        border-style: solid;
        border-color: #ffc857;
        border-radius: 60px;

    }

    .in-flex div {
        padding: 25px;
        background-color: #2E4052;
        margin: 20px;
        box-shadow: 0 0 15px rgb(84, 218, 177);
        border-radius: 20%;
        color: #BDD9BF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border-radius: 60px;

    }

    .in-flex {
        background-color: green;
        display: flex;
        flex-wrap: wrap;
        display: block;
        float: right;
        margin: 5%;
        flex: 1;
        min-width: 250px;
    }

    .BLOQUES {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: justify;
    }

    .CERTIFICADOS {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .in-flex .CERTIFICADOS {
        background-color: transparent;
        box-shadow: none;
    }


}

/* Estilos de los botones en pantallas más pequeñas */
@media screen and (max-width: 767px) {
    .TR-Titulo {
        font-size: 15px;
    }

    .IMAGEN-PERFIL img {
        width: 30%;

    }

    .IMAGEN-PERFIL {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .in-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .in-flex:first-child {
        flex: 1;
        padding: 0%;
        background-color: #1d0000;
        margin: 0%;
        margin-bottom: 0px;
        box-shadow: 0 0 10px black;
        border-radius: 10%;
        box-shadow: 0 0 25px #ffc857;
        border-style: solid;
        border-color: #ffc857;
        border-radius: 60px;

    }

    .in-flex div {
        padding: 25px;
        background-color: #2E4052;
        margin: 20px;
        box-shadow: 0 0 15px rgb(84, 218, 177);
        border-radius: 20%;
        color: #BDD9BF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border-radius: 60px;

    }

    .in-flex {
        background-color: green;
        display: flex;
        flex-wrap: wrap;
        display: block;
        float: right;
        margin: 5%;
        flex: 1;
        min-width: 250px;
    }

    .BLOQUES {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: justify;
    }



    .in-flex .CERTIFICADOS {
        background-color: transparent;
        box-shadow: none;

    }


    .in-flex p {
        font-size: 90%;
    }


}
.CERTIFICADOS img {
  max-width: 100%;
  height: auto;
}
.CERTIFICADOS{
        display: flex;
        flex-wrap: wrap;
        display: block;
        float: right;
        min-width: 250px;
}