/* Estilos para el tema claro */
.theme-claro {
    background-color: #F2C9C1;
    color: #2C2C2C;
}

.theme-claro .claro{
    background-color: #FFF;
    color: #000;
    border: none;

}

.sol{
    width: 50px;
    height: 50px;
    cursor: pointer;

}
/* Estilos para el tema oscuro */
.theme-oscuro {
    background-color: #2C2C2C;
    color: #FFF;
    
}

.theme-oscuro .oscuro {
    background-color: #000000;
    color: #FFF;
    border: none;
}

.luna{
   width: 45px;
    height: 45px;
    cursor: pointer;

}

.Contenedor{
    
    position:absolute;
    height: 50px;
    width: 100 px;
    padding: 4px;
    border-radius: 15%;
    padding-bottom: 15px;
    transition: background-color 0.5s ease;
    
}

.theme-claro .Contenedor{
    background-color: rgb(255, 255, 255);
    
}
.theme-oscuro .Contenedor{
    background-color: #000;
}


.theme-claro .theme-btn{
    border: none;
    background-color: transparent;
    
}
.theme-oscuro .theme-btn{
    border: none;
    background-color: transparent;
}
.aaa{
    background-color: red;
    color:#003cff
}
.especial{
    background-color: aqua;
    color: red,
}

.cont{
    background-color: green;
}

#theme{
transition: background-color 0.5s ease;
}

.Contenedor{
    background-color: #ffffff;
    color: #FFF;
    border: none;


}

.Contenedor::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}
.theme-btn{
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 600px) {

    .Contenedor{
    border: none;
    z-index: 1;
    color: rgb(0, 0, 0); 
    text-align: center; 
    text-decoration: none; 
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 250px;
    }

}